/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/kirjanpito/target/
/kirjanpito/nbproject/
/kirjanpito/database.db/
*.log
*.sql
*.sqlite
kirjanpito/database.db
/kirjanpito/fakedatabase.db/
kirjanpito/fakedatabase.db
